<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title> {% block title %} Recipe Book{% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>

    <body>
        {% block header %} {% endblock %}
        {% if user.is_authenticated %}
        <h3> Hello {{ user.username }}! </h3>
            {% include 'registration/logout.html' %}
        {% else %} 
            <a href = "{% url 'login' %}">Login</a>
        {% endif %}
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        {% block scripts %} {% endblock %}
    </body>
</html>